@font-face {
    font-family: kingfont;
    src: url("../css/king.ttf");
}

@font-face {
    font-family: deadzone;
    src: url("../css/deadzone.ttf");
}

@font-face {
    font-family: shatter;
    src: url("../css/shatter.ttf");
}

body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: subpixel-antialiased !important;
  height: 100%;
}

button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -khtml-border-radius: 4px;
  background: black;
  color: #c7b175;
  border: solid 1px #c7b175;
  text-decoration: none;
  cursor: pointer;
  font-family: deadzone;
  padding: 10px 6px;
  width: 110px;
  margin: 10px;
  outline: none;
  margin-left: 25px;
}

button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fb573b;
  border: solid 1px black;
  color: black;
}

hr {
  height:2px;
  border-width:0;
  color: #fb573b;
  background-color: #fb573b;
}

img {
    width: 635px;
    height: 268px;
    opacity: 100%;
}

#announce {
    text-align: center;
    font-size: 40px;
}

#clickHere {

}

#fatty {
    margin: 130px;
}

#pause {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #c7b175;
}

#startButton {
    font-size: 20px;
    margin: 30px auto;
}

#time {
    text-align: center;
    font-family: 'Prompt', cursive !important;
    font-size: 30px;
    color: #fdf9f3;
    text-shadow: 0px 0px;
}

#timer {
    text-align: center;
    font-family: 'Codystar', cursive;
    font-size: 30px;
    text-shadow: 0px 0px;
    color: #fdf9f3;
}

#title {
    font-color: #fb573b;
}

/*.container {
    padding-right:60px;
    padding-left:60px;
    margin-right:auto;
    margin-left:auto
}*/

.correctAns {
    color: green;
    font-family: kingfont;
    text-shadow: 1px 1px white;
    font-size: 65px;
}

.choices {
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    color: #c7b175;
    text-shadow: 2px 2px black;
}

.choices:hover .choices:focus, .choices:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.jumbotron {
    font-size: 40px;
    opacity: .93;
    background-color: black;
    color: #fb573b;
    font-family: kingfont;
    text-shadow: 1px 1px #fdf9f3;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
} 

.jumbotron h1 {
    font-size: 50px;
}

.outtaTime {
  color: #fb573b;
  font-family: kingfont;
  text-shadow: 1px 1px #fdf9f3;
  font-size: 65px;

}

.player{
  margin: 50px 0;
}

.pause {

}

.question {
    font-family: deadzone;
    font-size: 35px;
    color: crimson;
    text-shadow: 2px 2px black;
}

.restart {
    font-size: 20px;
    margin: 50px auto;
    font-family: deadzone;
    color: ;
}

.wrongAns {
    color: #c7b175;
    font-family: kingfont;
    text-shadow: 1px 1px #fdf9f3;
    font-size: 65px;
}